@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(http://fonts.googleapis.com/css?family=Squada+One);

body{
  
}

header{

    height: 200em;


}

h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  color: #96090C ;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.container {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #96090C
}

.wiki {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #96090C
}